:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-gradient-first: rgba(21, 42, 49, 1);
  --color-gradient-first-transparent: rgba(21, 42, 49, 0);
  --color-gradient-second: rgba(3, 32, 64, 1);
  --color-gradient-second-transparent: rgba(3, 32, 64, 0);
  --color-gradient-third: rgba(17, 30, 32, 1);
  --color-gradient-third-transparent: rgba(17, 30, 32, 0);

  --color-balance-positive: #88ffc7;
  --color-balance-negative: #ff6f6f;

  --color-section-background: #14171a;
  --color-section-border: rgba(255, 255, 255, 0.2);

  //SCROLLBAR
  --color-scrollbar-track: rgba(255, 255, 255, 0.1);
  --color-scrollbar-thumb: rgba(255, 255, 255, 0.2);
  --color-scrollbar-thumb-hover: rgba(255, 255, 255, 0.3);

  --width-limit: 450px;
}
