:root {
  --color-black: #000;
  --color-white: #fff;
  --color-white-50: rgba(255, 255, 255, 0.5);
  --color-gradient-first: rgba(21, 42, 49, 1);
  --color-gradient-first-transparent: rgba(21, 42, 49, 0);
  --color-gradient-second: rgba(3, 32, 64, 1);
  --color-gradient-second-transparent: rgba(3, 32, 64, 0);
  --color-gradient-third: rgba(17, 30, 32, 1);
  --color-gradient-third-transparent: rgba(17, 30, 32, 0);

  --color-section-background: #14171a;
  --color-section-border: rgba(255, 255, 255, 0.2);

  --width-limit: 450px;
}
