.home-container {
  padding: 24px 0px;
  color: var(--color-white);
}

.home-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white-50);
  margin-bottom: 21px;
}

.home-section {
  background-color: var(--color-section-background);
  min-height: 100px;
  border-radius: 20px;
  border: 1px solid var(--color-section-border);
  margin-bottom: 10px;

  &-header {
    padding: 16px;
    padding-bottom: 0px;

    &-upper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-heading {
      font-weight: 500;
      color: var(--color-white-50);
      font-size: 20px;
      line-height: 30px;
      margin-top: 18px;
      margin-bottom: 22px;
    }
  }
}

.user-image {
  position: relative;
}

.users-group {
  display: flex;
  align-items: center;
}

.users-message {
  font-size: 10px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-white-50);
}

.users-count {
  position: relative;
  height: 16px;
  width: 16px;
  color: var(--color-white);
  font-size: 8px;
  line-height: 8px;
  background-color: #2b2e30;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 16px;
}

.user-card {
  background-color: var(--color-black);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  min-height: 77px;
  position: relative;

  &-avatar-section {
    width: 50px;
    position: relative;
    min-height: 100%;
  }

  &-avatar-place {
    color: rgba(11, 37, 77, 0.2);
    font-family: Poppins;
    font-size: 33px;
    line-height: 33px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1.32px;
    padding-left: 6px;
    position: absolute;
    top: -4px;
    left: -4px;
  }

  &-name {
    font-size: 16px;
    font-weight: 500;
  }

  &-is-verified {
    margin-left: 5px;
  }
}

.blur-first {
  background-image: url("../../../assets/first-place-blur.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.blur-second {
  background-image: url("../../../assets/second-place-blur.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.blur-third {
  background-image: url("../../../assets/third-place-blur.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.avatar-place-sup {
  position: relative;
  top: 2px;
  font-size: 20px;
}

.avatar-image {
  width: 49px;
  height: 41px;
  background-size: cover;
  overflow: hidden;
  mask-image: url("../../../assets/hex-mask.svg");
  position: absolute;
  top: 50%;
  transform: translate(9px, -50%);
}

.balance-positive {
  background: linear-gradient(
    90deg,
    rgba(129, 237, 186, 0) 0%,
    rgba(84, 255, 174, 0.15) 100%
  );
  width: 100%;
}

.balance-negative {
  background: linear-gradient(
    90deg,
    rgba(255, 111, 111, 0) 0%,
    rgba(255, 111, 111, 0.15) 100%
  );
  width: 100%;
}

.details-section {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;

  &-upper {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 22px;
  }

  &-lower {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 22px;
    padding-right: 12px;
  }
}

.statistics {
  &-container {
    display: flex;
    flex-wrap: nowrap;
  }
  &-alert {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  &-win-rate {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  &-yield {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  &-label {
    font-size: 10px;
    font-weight: 400;
    color: var(--color-white-50);
  }
  &-value {
    font-size: 14px;
    font-weight: 500;
  }
}

.balance-summary-positive {
  color: var(--color-balance-positive);
}

.balance-summary-negative {
  color: var(--color-balance-negative);
}

.balance {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-cash {
    font-size: 14px;
    font-weight: 600;
  }

  &-percentage {
    font-size: 10px;
    font-weight: 600;
  }
}

.user-section {
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 0px 16px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  &-user-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &-event-info {
    display: flex;
    align-items: center;
  }
}

.user-details {
  &-avatar {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &-name-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
  }

  &-bits-avatar {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }

  &-bits-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.name-group {
  &-name {
    font-size: 10px;
    font-weight: 500;
  }

  &-nickname {
    color: var(--color-white-50);
    font-size: 8px;
    font-weight: 400;
  }
}

.bits-group {
  &-count {
    font-size: 10px;
    font-weight: 500;
  }

  &-prize {
    font-size: 8px;
    font-weight: 400;
    color: var(--color-white-50);
  }
}

.event-info {
  &-days-count {
    border: 1px solid #ff6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    font-size: 12px;
    color: #ff6f6f;
    font-weight: 500;
    background-color: #261516;
    margin-right: 8px;
  }

  &-days-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ff6f6f;
  }
}

.days-label {
  &-days {
    font-size: 10px;
    font-weight: 500;
  }

  &-past {
    font-size: 8px;
    font-weight: 400;
  }
}

.button-container {
  padding: 0px 15px;
  margin-bottom: 15px;
}

.view-button {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  background-color: #303236;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-white-80);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
