.home-container {
  padding: 5px 0px;
  padding-bottom: 24px;
  color: var(--color-white);
}

.home-heading {
  font-size: 22px;
  font-weight: 600;
  color: var(--color-white-50);
  margin-bottom: 21px;
}
