<div class="user">
  <div class="avatar">
    <span class="avatar-name">AG</span>
  </div>
  <div class="user-details">
    <span class="user-details-name">Alex G</span>
    <div class="user-details-decoration">
      <span class="x-trades-logo">
        <img src="../../../../assets/xtrades-logo.svg" alt="xtrades logo" />
      </span>
      <span> 3000 xBits </span>
      <span class="crown-icon">
        <img src="../../../../assets/crown.svg" alt="crown icon" />
      </span>
      <span class="crowns-counter">85</span>
    </div>
  </div>
</div>
