<div *ngIf="userDetails" class="user-section">
  <div class="user-section-user-details">
    <div class="user-details-avatar">
      <img [src]="userDetails.avatarUrl" alt="user details avatar" />
    </div>
    <div class="user-details-name-group">
      <span class="name-group-name" *ngIf="userDetails?.userFullName">{{
        userDetails.userFullName | abbreviate
      }}</span>
      <span class="name-group-nickname" *ngIf="userDetails?.userNickname"
        >&commat;{{ userDetails.userNickname }}</span
      >
    </div>
    <div class="user-details-bits-avatar">
      <img src="../../../assets/xtrades-bits.svg" alt="bits icon" />
    </div>
    <div class="user-details-bits-group">
      <span class="bits-group-count">{{ userDetails.bitsPrize | number }}</span>
      <span class="bits-group-prize">&commat;xBits prize</span>
    </div>
  </div>
  <div class="user-section-event-info" *ngIf="dateOfExpiration < nowDate">
    <div class="event-info-days-count">
      {{ dateOfExpiration | daysAfter }}
    </div>
    <div class="event-info-days-label">
      <span class="days-label-days">Days</span>
      <span class="days-label-past">past</span>
    </div>
  </div>
</div>
