.main-container {
  background-color: var(--color-black);
  width: 100%;
  max-height: 100dvh;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.background-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 440px;
}

.gradients-container {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.gradient-first {
  width: 145%;
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  background: var(--color-black);
  background: radial-gradient(
    closest-side,
    var(--color-gradient-first) 0%,
    var(--color-gradient-first-transparent) 100%
  );
}

.gradient-second {
  width: 145%;
  position: absolute;
  right: -50%;
  top: 0;
  height: 100%;
  background: var(--color-black);
  background: radial-gradient(
    closest-side,
    var(--color-gradient-second) 0%,
    var(--color-gradient-second-transparent) 100%
  );
}

.gradient-third {
  width: 145%;
  position: absolute;
  left: -80%;
  top: 0;
  height: 100%;
  background: var(--color-black);
  background: radial-gradient(
    closest-side,
    var(--color-gradient-third) 0%,
    var(--color-gradient-third-transparent) 100%
  );
}

.width-limiter-container {
  position: relative;
  max-width: var(--width-limit);
  margin: 0 auto;
}

.width-limiter {
  width: 100%;
  height: 100%;
  padding: 0px 21px;
  max-height: calc(100dvh - 51px);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: var(--color-scrollbar-track);
    border-radius: 5px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--color-scrollbar-thumb-hover);
  }
}
