.main-container {
  background-color: var(--color-black);
  min-height: 100vh;
  width: 100%;
}

.background-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 480px;
}

.gradients-container {
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.gradient-first {
  width: 145%;
  position: absolute;
  left: -50%;
  top: 0;
  height: 100%;
  background: var(--color-black);
  background: radial-gradient(
    closest-side,
    var(--color-gradient-first) 0%,
    var(--color-gradient-first-transparent) 100%
  );
}

.gradient-second {
  width: 145%;
  position: absolute;
  right: -50%;
  top: 0;
  height: 100%;
  background: var(--color-black);
  background: radial-gradient(
    closest-side,
    rgba(3, 32, 64, 1) 0%,
    rgba(3, 32, 64, 0) 100%
  );
}

.width-limiter {
  max-width: 600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
  padding: 19px 21px;
}
