<section class="home-section">
  <competition-header
    [userImages]="userImages"
    [dateOfExpiration]="dateOfExpiration"
    [nowDate]="nowDate"
    [heading]="heading"
  >
  </competition-header>
  <div class="cards-container">
    <competition-podium-card
      *ngFor="let podiumCard of podiumCards"
      [podiumCard]="podiumCard"
      [places]="places"
    ></competition-podium-card>
  </div>
  <competition-user-section
    *ngIf="userDetails"
    [dateOfExpiration]="dateOfExpiration"
    [nowDate]="nowDate"
    [userDetails]="userDetails"
  >
  </competition-user-section>
  <div class="button-container">
    <button
      class="view-button"
      [ngClass]="{ 'view-button-clicked': viewButtonClicked }"
      (click)="handleViewButtonClick()"
    >
      view
      <span *ngIf="viewButtonClicked" class="view-button-ripple"></span>
    </button>
  </div>
</section>
