.add-button {
  background-color: transparent;
  border: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 47px;
  right: calc(21px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(8, 122, 255);
  z-index: 100;
  background: linear-gradient(
    45deg,
    rgba(114, 234, 181, 1) 0%,
    rgba(8, 122, 255, 1) 100%
  );
  box-shadow: 5px 5px 37px 13px rgba(0, 0, 0, 1);
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 800ms;

  &-clicked {
    transform: scale(1.15);
  }
}

.ripple-container {
  animation-name: ripple;
  animation-duration: 800ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ripple {
  0% {
    width: 0%;
    height: 0%;
  }

  100% {
    width: 100%;
    height: 100%;
  }
}
